h1 {
text-align: center;
color: black; 
}
body {
font-size: 120%;
background-color:rgb(0,200,200);
font-family:corbel;
color: black; 
}

a{
	color: black; 
	text-align: center;
}

img {

float: right;
height: 10%;
width: 10%;
}
#g {float:left;}
