/* h1 {
text-align: center;
color: rgb(255, 255, 255); 
} */
header{
	top: 0px;
	z-index: 0;
	position: sticky;
	background-color: #44CFCB;
	display : flex;
	
}
body {
	padding: 0px;
	margin: 0px;
	background-color:#122C34;
	font-family:corbel;
	color: #378C3F; 
}
.imH{
	width :100%;
	
}
.dvi{
	position :absolute;
	left:-5px;
	top : 50px;

}
.dpdm{
	position:absolute;
  top: 45%; 
  left:45%; 
}
.pdm{
	clip-path: circle(30%);
	height: 20%;
	width: 20%;
}
/* .rect {
	left :-10px;
	top : 15px;
	width: 150px;
	height: 20px;
	background: red;
  } */