
header{
	top: 0px;
	z-index: 10;
	position: sticky;
	background-color: #44CFCB;
	display : flex;
	
}
body {
	z-index:1 ;
	padding: 0px;
	margin: 0px;
	background-color:#122C34;
	font-family:corbel;
	color: #378C3F; 
}
.imH{
	width :100%;
	
}
.dvi{

	position:absolute;
	left: 45%;
	background-color: #122C34;
	width: 10%;
	border-radius: 10px;
	top: 80%;

}
.dpdm{
	text-align: center;
	position: absolute;
	top: 225px;
}
.pdm{
	clip-path: circle(30%);
	height: 20%;
	width: 20%;
}


  .posComp{
	border: 1px solid black;
	width: 30%;
	left: 10%;
	top: 775px;
	position: absolute;
	border-radius: 10px;
	background-color: #10272e;
  }
  .cont {
	border: 1px solid black;
	border-radius: 10px;
	width: 90%;
	left: 10%;
	top: 20%;
	
	background-color: #122C34;
  }
  
  .formaBar {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
  }
  
  .html {width: 90%; background-color: #1eff0038;border-radius: 10px;border: 1px solid black;}
  .css {width: 60%; background-color: #00c3ff4f;border-radius: 10px;border: 1px solid black;}
  .py {width: 90%; background-color: #ff00154f;border-radius: 10px;border: 1px solid black;}





  .styleInter{
	border: 1px solid black;
	width: 30%;
	left: 60%;
	top: 775px;
	position: absolute;
	border-radius: 10px;
	background-color: #10272e;
  }
  .posInter{
	position: absolute;
	left:1000px;

}







  @keyframes wave {
	from, to {
	  transform: translate(-50%, 0%);
	}
	
	50% {
	  transform: translate(-50%, -20%);
	}
  }
  
  #bubble-wrapper {
	height: 100%;
	width: 100%;
	
	position: fixed;
	top: 0px;
	
	overflow: hidden;
	pointer-events: none;
  }
  
  .bubble {
	height: max(300px, 30vw);
	width: max(300px, 30vw);
	
	background-color: rgb(33, 150, 243);  
	border-radius: 100%;
	
	position: absolute;
	left: 50%;
	bottom: -550px;
	
	animation: wave 2s ease-in-out infinite;
  }
  
  